html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #C8CDD0;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #F7F4CF;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

header {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.quotes {
  padding: 20px 50px;
  min-height: 200px;
}

.quote-text {
  padding-bottom: 20px;
  font-size: 25px;
  color: black;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button {
  display: block;
  text-align: center;
  padding: 30px 100px;
  font-size: 30px;
  border-radius: 40px 40px 40px 40px;
  background: #B58656;
  border: none;
  margin-bottom: 50px;
  color: white;
  cursor: pointer;
}

.twitter {
  background-color: #1da1f2;
  text-decoration: none;
}

.twitter:hover {
  background-color: #1e7fbb;
}

.new-quote {
  background-color: #F9C9C5;
  margin-bottom: 15px;
}

.new-quote:hover {
  background-color: #CEC2AC;
}

.new-quote:disabled {
  background-color: #CEC2AC;
  color: #666666;
  cursor: not-allowed;
}

.randomBgColor {
  transition: background-color 1s ease;
}

.fa-twitter {
  font-size: 40px;
  padding: 5px 5px 0 5px;
  color: white;
}

@media screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }
}